.navbar{
    position: fixed;

    width: 100vw;
  
    display: flex;
    align-items: center;
  
    font-family: 'proxima-nova';
    text-transform: uppercase;
    color: #0c8488;

    z-index: 99;
  }
 
.showColor {
  background-color: rgba(12, 155, 155, 1);
}

.navbar .button{
  border: none;
  background: transparent;
  padding: 1vh;
}

.navbar-text {
  color: white;

  min-width: 30px;
  width: 150px ;
  
  overflow: hidden;

  white-space: nowrap;
}

.tIcon:hover {
  cursor: pointer;
}