.navbar {
  width: 100%;
  height: 5vh;

  display: flex;
  align-items: center;
  background-color: white;

  font-family: 'proxima-nova';
  font-weight: 500;
  font-size: 30px;
  letter-spacing: .05em;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #0c8488;
}

.text {
  font-family: 'proxima-nova';
  font-weight: 500;
  font-size: 30px;
  letter-spacing: .05em;
  line-height: 1.5em;
  color: #0c8488;
}

.name-sec {
  height: 95vh;
  width: 100vw;

  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(148, 134, 134, 0.5);

  color: rgb(255, 255, 255);
  font-size: 100px;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bold;
}

.info-sec {
  height: 150vh;
  width: 100vw;

  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  color: rgb(8, 102, 102);
  font-size: 20px;

  background-color: rgba(255, 255, 255, 0.99);
}

.infoText {
  font-family: 'proxima-nova';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .02em;
  line-height: 1.7em;
  color: #9b3e09;
}

.image-cropper {
  height: auto;
  position: relative;

  max-width: 200px;
  
}

.image-cropper img{
  display: block;
  height: auto;
  width: 100%; 
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;  
  
  border: 7px solid black;
}

.edu-sec {
  
  background-color: rgba(185, 185, 185, 0.9);
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.edu-date {
  color: rgb(120, 20, 20);
}

.exp-sec {
  background-color: rgba(255, 255, 255, 0.99);
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.project-sec {
  
  background-color: rgba(185, 185, 185, 0.9);
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.proj-title {
  color: rgb(8, 102, 102);
  font-size: 30px;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
}

.proj-link {
  
  color: rgb(8, 102, 102);
  font-size: 25px;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 200;
}

.contact-link {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.contact-sec {
  display: flex;
  flex-direction: space-evenly;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(83, 81, 81);
  color: white;

  height: 15h;

  padding: 10px;

}

.small-headline{
  color: rgb(8, 102, 102);
  font-size: 25px;
  font-family: 'Open Sans', sans-serif !important;
}

.headline {
  color: rgb(8, 102, 102);
  font-size: 80px;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 200;
}

.text {
  
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Open Sans', sans-serif !important;
}

.find-color {
  color: rgb(13, 182, 204)
}