.bg-sec{
    background-image: url(./images/name-sec-bg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
  }
  
.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.col-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}